@model PROG7311_Part2_ST10144453.ViewModels.EditStaffProfileViewModel

@{
    ViewData["Title"] = "Edit Staff Profile";
}

<h2>Edit Farmer Profile</h2>

<form method="post" asp-action="StaffSettings" asp-controller="StaffDashobaord" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="User.Name" class="control-label"></label>
        <input asp-for="User.Name" class="form-control" />
        <span asp-validation-for="User.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="User.Surname" class="control-label"></label>
        <input asp-for="User.Surname" class="form-control" />
        <span asp-validation-for="User.Surname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="User.Email" class="control-label"></label>
        <input asp-for="User.Email" class="form-control" />
        <span asp-validation-for="User.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="User.Password" class="control-label"></label>
        <input asp-for="User.Password" class="form-control" />
        <span asp-validation-for="User.Password" class="text-danger"></span>
    </div>
   
    <div class="form-group">
        <label asp-for="User.ProfilePhoto" class="control-label"></label>
        <input name="ProfilePhoto" asp-for="User.ProfilePhoto" class="form-control" type="file" />
        <span asp-validation-for="User.ProfilePhoto" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="User.UserId" />
    <input type="hidden" asp-for="Staff.StaffId" />
    <input type="hidden" asp-for="User.AccountType" value="Farmer" />

    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
